body,html{
  margin:0;padding:0;
  font-family: 'Microsoft Yahei';
  font-size:14px;
  color:#5FBCF7; 
  position:relative;
  background:#fff;
  width:100%;height:100%;
}
.box{
  width:100%;height:500px;
  background:#5FBCF7 url("../img/icon/admin_bg.jpg") no-repeat;
  background-size:cover;
  position:absolute;
  top:50%;left:50%;
  margin-top:-250px;
  margin-left:-50%;
}
.box h1{
  font-size: 25px;
  position:absolute;
  top:-50px;left:5%;
  min-width: 400px;
}
.login_box{
 height:320px;background:#fff;
  position:absolute;
  top:50%;left:15%;
  margin-top:-150px;
  /*border-radius:5px;*/
  text-align: center;
  padding:0 30px;
}
.login_box h2{
  font-size: 20px;
  text-align:center;
  padding:20px 0;
}
#login input.loginName,input.loginPass{
  width:220px;height:35px;
  border:1px solid #5FBCF7;
  margin:8px 0px;
  padding-left:40px;
  color:#5FBCF7;
  background:#fff url(../img/icon/inputbg.png) no-repeat; 
  background-position: 4px;
}
#login input.loginPass{
  background:#fff url(../img/icon/passwordbg.png) no-repeat;
  background-position: 4px;
}
/*#login .remeber_item{
  text-align: left;
}
#login .remeber_item input{
  vertical-align:text-bottom;
}*/
#login #login_btn{
  display: block;
  width:220px;height:35px;line-height:35px;
  border:1px solid #5FBCF7;text-decoration: none;
  color:#5FBCF7;
  margin:20px auto;
  cursor:pointer;
  transition:all 0.3s linear;
}
#login #login_btn:hover{
  background: #5FBCF7;
  color:#fff;
}
#login .msg{
  color:red;
}